---
import Shell from '../layouts/Shell.astro';
import Stickie from '../components/stickie.astro';
import { getEntryBySlug } from 'astro:content';
const entry = await getEntryBySlug('extra', '404');
const { Content } = await entry.render();
---
<Shell title="404 — Page not found" description="The page you are looking for cannot be found, sorry. Please check the URL for typos or go to the main page." customClass="404">
    <section>
        <h1>PMCF.XYZ</h1>
        <Stickie>
            <Content />
        </Stickie>
    </section>
</Shell>
<style>
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(var(--black-light) 0.0625em, transparent 0.0625em);
	background-size: 2em 2em;
	background-position: center center;
}
section {
    padding: 2em 1em;
}
</style>