---
// Imports
import PMCF from '../layouts/PMCF.astro';
// Meta
const title = "Page not found";
const description = "The page you are looking for cannot be found, sorry. Please check the URL for typos or go to the main page.";
---
<PMCF title={title} description={description}>
    <h1 class="title">{title}</h1>
    <p>{description}</p>
    <a href="/">Back to home page</a>
</PMCF>