---
const title = "Pedro MC Fernandes CV";
const description = "Hi 👋 This is my CV. It's where I show my career as a Product Designer. If you need one, get in touch so we can start talking. Have a nice one!";
const customClass = "vitae";
const metaImage = "/meta.png";
import Shell from '../layouts/Shell.astro';
import { Content as Curriculum } from '../content/extra/curriculum.md';
---
<Shell title={ title } description={ description } customClass={ customClass } metaImage={ metaImage }>
    <div class="print">
        <nav>
            <div class="button-3d">
                <button type="button" onclick="window.location.href = '/';" aria-label="Back to the home page">&larr; Back</button>
            </div>
            <div class="button-3d">
                <button type="button" onclick="window.print()">Print page</button>
            </div>
        </nav>
        <Curriculum />
    </div>
</Shell>
<style>
@font-face {
	font-family: "LexendDeca";
	src:
		url("/fonts/LexendDeca.woff2") format("woff2 supports variations"),
		url("/fonts/LexendDeca.woff2") format("woff2-variations");
	font-weight: 100 1000;
	font-display: swap;
}
@font-face {
	font-family: "LexendPeta";
	src:
		url("/fonts/LexendPeta.woff2") format("woff2 supports variations"),
		url("/fonts/LexendPeta.woff2") format("woff2-variations");
	font-weight: 100 1000;
	font-display: swap;
}
@font-face {
	font-family: "Whiteboard";
	src: url("/fonts/whiteboardbeta.woff2") format("woff2");
	font-weight: 400;
	font-display: swap;
	font-variant-ligatures: common-ligatures;
}
html {
    background-color: var(--white);
}
body {
    box-sizing: border-box;
    font-family: "LexendDeca", system-ui, Arial, sans-serif;
    width: 100%;
    max-width: 44em;
    padding: 2em;
    margin: 0 auto;
}
.print {
    position: relative;
}
:global(h1) {
    margin-bottom: 0.25em;
}
:global(h2) {
    margin-bottom: 0;
}
:global(p) {
    margin-bottom: 0.875em;
}
:global(small) {
    display: inline-block;
    color: var(--black-medium);
    margin-bottom: 0.75em;
}
nav {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
}
.button-3d {
    font-size: 1.2em;
    margin: 0 0.5em 0.5em 0;
}
button {
    background-color: var(--toast);
}
:global(img) {
    float: left;
    width: 4em;
    height: 4em;
    margin: 0.5em 1em 0.5em 0;
    border-radius: var(--sd);
}
:global(a[href*="linkedin"]) {
    display: inline-block;
    margin-top: 0.25em;
}
@media (max-width: 480px) {
    body {
        font-size: 0.875em;
        padding: 1em;
    }
    .button-3d {
        font-size: 1.6em;
    }
}
@media print {
    body {
        font-size: 0.875em;
        max-width: none;
        padding: 0;
    }
    :global(a) {
        text-decoration: none;
    }
    nav {
        display: none;
    }
}
</style>