---

// Imports

import PMCF from '../layouts/PMCF.astro';
import { getEntry } from 'astro:content';
import { Content as Curriculum } from '../content/extra/curriculum.md';

// Content

const meta = await getEntry('extra', 'curriculum');

---

<PMCF title={meta.data.title} description={meta.data.description}>
    <div class="print grided">
        <header class="top">
            <nav class="hyperlinks">
                <a id="backLink">
                    <span>← Back</span>
                </a>
                <hr>
            </nav>
        </header>
        <main>
            <Curriculum />
        </main>
    </div>
</PMCF>

<style is:global>

html {
    background-color: var(--paper);
}
main > * {
    margin: 1.25rem 0;
}
main > *:first-child {
    margin-top: 0;
}
main > *:last-child {
    margin-bottom: 0;
}
h3, h4, h5, h6 {
    font-family: var(--ffLexendPeta);
    font-size: calc(var(--fsHeading) / 2);
    font-weight: 700;
    line-height: 100%;
    letter-spacing: unset;
    margin-top: 4rem;
}
img {
    float: right;
    --frameRound: calc(var(--s64p) * 1.1875);
    width: var(--frameRound);
    height: var(--frameRound);
    border-radius: var(--frameRound);
}
@media print {
    html {
        font-size: 50%;
    }
    .grided {
        width: 100%;
        max-width: unset;
        margin: 0;
    }
    header {
        display: none;
    }
    main {
        color: var(--charcoal);
    }
    a {
        color: var(--charcoal);
        text-decoration: none;
    }
}

</style>