---
// components
import Shell from '../layouts/Shell.astro';
import Stickie from '../components/stickie.astro';
// content
import { getCollection } from 'astro:content';
const firstSection = await getCollection('base');
const secondSection = await getCollection('who');
---
<Shell title="This is the title prop">
	<header>
		<nav></nav>
	</header>
	<section>
		<header>
			<h1>PMCF.XYZ</h1>
		</header>
		{
			firstSection.map(async (post) => {
				const { Content } = await post.render()
				return (
				<Stickie class="stickie">
					<Content />
				</Stickie>
				)
			})
		}
	</section>
	<section>
		<header>
			<h2>Who</h2>
		</header>
		{
			secondSection.map(async (post) => {
				const { Content } = await post.render()
				return (
				<Stickie class="stickie">
					<Content />
				</Stickie>
				)
			})
		}
	</section>
</Shell>