---
// components
import Shell from '../layouts/Shell.astro';
import Stickie from '../components/stickie.astro';
// content
import { getCollection } from 'astro:content';
const firstSection = await getCollection('base');
const secondSection = await getCollection('who');
const thirdSection = await getCollection('why');
const fourthSection = await getCollection('see');
---
<Shell title="My website" description="This is my website description">
	<main>
		<section>
			<h1>PMCF.XYZ</h1>
			{
				firstSection.map(async (post) => {
					const { Content } = await post.render()
					return (
					<Stickie>
						<Content />
					</Stickie>
					)
				})
			}
		</section>
		<section>
			<h2>Who</h2>
			{
				secondSection.map(async (post) => {
					const { Content } = await post.render()
					return (
					<Stickie>
						<Content />
					</Stickie>
					)
				})
			}
		</section>
		<section>
			<h2>Why</h2>
			{
				thirdSection.map(async (post) => {
					const { Content } = await post.render()
					return (
					<Stickie>
						<Content />
					</Stickie>
					)
				})
			}
		</section>
		<section>
			<h2>See</h2>
			{
				fourthSection.map(async (post) => {
					const { Content } = await post.render()
					return (
					<Stickie>
						<Content />
					</Stickie>
					)
				})
			}
		</section>
	</main>
</Shell>