---
import { getCollection } from 'astro:content';
const entry = await getCollection('1st');
---
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>Astro</title>
</head>
<body>
	<h1>I am Astro</h1>
	{
        entry.map(async (post) => {
          const { Content } = await post.render()
          return (
            <h2>{post.data.title}</h2>
            <Content/>
          )
        })
    }
</body>
</html>