---
// components
import Shell from '../layouts/Shell.astro';
import Stickie from '../components/stickie.astro';
// content
import { getCollection } from 'astro:content';
const pmcf = await getCollection('1st');
const who = await getCollection('2nd');
---
<Shell title="This is the title prop">
	<div title="PMCF-XYZ">
		{
			pmcf.map(async (post) => {
				const { Content } = await post.render()
				return (
				<Stickie class="stickie">
					<!--<h2>{post.data.title}</h2>-->
					<Content/>
				</Stickie>
				)
			})
		}
	</div>
	<div title="Who">
		{
			who.map(async (post) => {
				const { Content } = await post.render()
				return (
				<Stickie class="stickie">
					<h2>{post.data.title}</h2>
					<Content/>
				</Stickie>
				)
			})
		}
	</div>
</Shell>