---
// templates
import Shell from '../layouts/Shell.astro';
// content
import { getCollection } from 'astro:content';
const entry = await getCollection('1st');
// props
const { title } = Astro.props;
---
<Shell>
<div title={title}>
	{
        entry.map(async (post) => {
          const { Content } = await post.render()
          return (
            <h2>{post.data.title}</h2>
            <Content/>
          )
        })
    }
</div>
</Shell>