<article id="note-form">
    <form action="https://formspree.io/f/mnqyrkwr" method="POST" accept-charset="UTF-8">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Enter your email" maxlength="200" required autocomplete="on">
        <label for="message">Message</label>
        <textarea id="message" name="message" placeholder="Share your thoughts here" maxlength="2000" required></textarea>
        <div class="button-3d">
            <button type="submit">Send message</button>
        </div>
    </form>
</article>
<style>
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
label {
	font-family: "LexendPeta", system-ui, Arial, sans-serif;
	font-weight: 750;
	font-size: 0.75em;
	line-height: 133%;
	text-transform: uppercase;
}
form label {
    margin-bottom: 0.5rem;
}
input, textarea {
    width: 100%;
    margin-bottom: 1em;
}
</style>