---
const { title, openID, uiMode } = Astro.props;
---
<div id="modal" role="dialog" aria-modal="true" class={ uiMode }>
    <div class="dialog">
        <header>
            <h3>{ title }</h3>
            <div class="button-3d">
                <button id="closeModal" class="dark">Esc</button>
            </div>
        </header>
        <div class="content">
            <slot />
        </div>
    </div>
</div>
<style>
#modal {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    z-index: 4;
    background-color: var(--paper-fade);
    backdrop-filter: blur(0.25rem);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s linear;
}
#modal.active {
    opacity: 1;
    pointer-events: auto;
}
.dialog {
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 24rem;
    max-width: 100%;
    max-height: calc(100vh - 5rem);
    max-height: calc(100dvh - 5rem);
    transform: translate3d(-50%, 100%, 0);
    border-radius: var(--se);
    background-color: var(--paper);
    box-shadow: var(--shadow-b);
    opacity: 0;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}
.active .dialog {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0);
}
header {
    display: flex;
    align-items: center;
    padding: 1.5rem;
}
header > :first-child {
    flex: 1;
    text-transform: uppercase;
    letter-spacing: 0.0625em;
}
.content {
    box-sizing: border-box;
    max-height: calc(100vh - 10rem);
    max-height: calc(100dvh - 10rem);
    padding: 0 1.5rem 1.5rem;
    overflow-y: auto;
}
#modal :global(p + p), #modal :global(p + h4), #modal :global(ul + p), #modal :global([tags] + *) {
    margin-top: 1rem;
}
@media (max-width: 480px) {
    .dialog {
        top: auto;
        bottom: 0;
        width: 100%;
        max-height: calc(100vh - 6rem);
        max-height: calc(100dvh - 6rem);
        border-radius: var(--se) var(--se) 0 0;
    }
    .active .dialog {
        transform: translate3d(-50%, 0, 0);
    }
    .content {
        padding-bottom: 3rem;
    }
}
@media (min-width: 481px) and (max-height: 480px) {
    .dialog {
        top: auto;
        bottom: 0;
        max-height: calc(100vh - 0.5rem);
        max-height: calc(100dvh - 0.5rem);
        border-radius: var(--se) var(--se) 0 0;
    }
    .active .dialog {
        transform: translate3d(-50%, 0, 0);
    }
    .content {
        max-height: calc(100vh - 6rem);
        max-height: calc(100dvh - 6rem);
    }
}
</style>
<script define:vars={{ openID }}>
// Define variables
const modal = document.getElementById('modal');
const openButton = document.getElementById(openID);
const closeButton = document.getElementById('closeModal');
const modalContent = document.querySelector('#modal .dialog');
const modalParent = modal.parentNode;
const focusElements = Array.from(modal.querySelectorAll('input, button, textarea, select, a[href]'));
const [firstFocus, lastFocus] = [focusElements[0], focusElements[focusElements.length - 1]];
// Trap focus
function trapFocus(event) {
    if (event.key === 'Tab' || event.keyCode === 9) {
        if (event.shiftKey) {
            if (document.activeElement === firstFocus) {
                event.preventDefault();
                lastFocus.focus();
            }
        } else {
            if (document.activeElement === lastFocus) {
                event.preventDefault();
                firstFocus.focus();
            }
        }
    }
}
// Event listeners
function openModal() {
    modal.classList.add('active');
    modalParent.classList.add('conceal');
    openButton.blur();
    modalContent.addEventListener('keydown', trapFocus);
    setTimeout(() => {
        firstFocus.focus();
    }, 0);
}
function closeModal() {
    modal.classList.remove('active');
    modalParent.classList.remove('conceal');
    modalContent.removeEventListener('keydown', trapFocus);
}
openButton.addEventListener('click', openModal);
closeButton.addEventListener('click', closeModal);
modal.addEventListener('click', (event) => {
    if (event.target === modal) {
        closeModal();
    }
});
document.addEventListener('keydown', (event) => {
    if (event.key === 'Escape') {
        closeModal();
    }
});
</script>