---
const { title, url, coverTheme = 'dark' } = Astro.props;
---
<li class={ `webzineCard ${coverTheme}` }>
    <a href={ url } class="delayed">
        <h2>{ title }</h2>
        <img src="" width="1024" height="1024" alt="" />
    </a>
</li>