---
const { title } = Astro.props
---
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>{ title }</title>
</head>
<body>
    <slot />
</body>
</html>
<style is:global>
@font-face {
	font-family: "LexendDeca";
	src: url("/fonts/LexendDeca.woff2") format("woff2 supports variations"), url("/fonts/LexendDeca.woff2") format("woff2-variations");
	font-weight: 100 1000;
	font-display: swap;
}
@font-face {
	font-family: "LexendPeta";
	src: url("/fonts/LexendPeta.woff2") format("woff2 supports variations"), url("/fonts/LexendPeta.woff2") format("woff2-variations");
	font-weight: 100 1000;
	font-display: swap;
}
html {
	font-family: "LexendDeca", system-ui, sans-serif;
	font-size: 16px;
}
</style>